<footer class="footer">
    <div class="container footer-container">
<div class="footer-wrapper">
        <!-- Лого + опис -->
        <div class="footer__top">
            <div class="footer__logo">
                <img src="/img/footer/logo.png" alt="STEP Academy">
                <p>Освітній холдинг ITSTEP – освіта, яка надає нові можливості</p>
            </div>

            <!-- Соцмережі -->
            <div class="footer__socials">
                <a href="#"><img src="/img/footer/one.png" alt="ig"></a>
                <a href="#"><img src="/img/footer/two.png" alt="FB"></a>
                <a href="#"><img src="/img/footer/three.png" alt="in"></a>
                <a href="#"><img src="/img/footer/four.png" alt="YT"></a>
            </div>
        </div>

        <!-- Навігація -->
        <div class="footer__links">

            <div>
                <h4>Всі напрямки</h4>
                <ul class="study-links">
                    <li>Професійна освіта</li>
                    <li>Курси для дорослих</li>
                    <li>Курси для дітей</li>
                    <li>Клуби</li>
                    <li>Табори</li>
                    <li>Університет</li>
                    <li>Коледж</li>
                    <li>Школа</li>                    
                </ul>
            </div>


            <div>
                <h4>Про Академію</h4>
                <ul class="study-links study-links-two">
                    <li>Про Академію</li>
                    <li>Історія успіху</li>
                    <li>Вакансії</li>
                    <li>Відгуки</li>
                    <li>Презентація таборів від Step Travel</li>
                </ul>
            </div>

       

        <!-- Контакти -->
        <div class="footer__contacts">
            <h4>Контакты</h4>
            <p>вул. Жилянська, 128/28</p>
            <div class="phones">
                <span>+38 (044) 537-22-60</span>
                <span>+38 (044) 537-22-60</span>
                <span>+38 (073) 797-88-20</span>
                <span>+38 (073) 797-88-20</span>
            </div>
        

        <!-- Кнопка -->
        <button class="footer__btn" type="button">Замовити дзвінок</button>

        <!-- Месенджери -->
        <div class="footer__messengers">
            <span>Або напишіть у месенджер</span>
            <div>
                <a href="#" class="tg"><img src="/img/footer/five.png" alt="TG"></a>
                <a href="#" class="viber"><img src="/img/footer/six.png" alt="VB"></a>
            </div>
        </div></div>
 </div></div>
        <!-- Копірайт -->
        <div class="footer__bottom">
        © 1999-2025 Компьютерная Академия ШАГ
        </div>

    </div>
</footer>