<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <div class="home-text-wrap">
            <div class="home-label">
                <p>Професія в IT з нуля за 7 місяців</p>
            </div>
        <h1 class="home-title">Курс UX/UI<br/>
        дизайнера</h1>
        <p class="home-text">Ви навчитесь проєктувати зручні інтерфейси та їх дизайн<br class="desk"/> та отримаєте повну підготовку до роботи  UX/UI-дизайнером.</p>
        <a class="home-link" href="#">
            <p>Записатися</p>
        </a>
    </div>
          <picture>
                <source srcset="
                   /img/home/desk.png 1x,
                   /img/home/desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/home/mob.png 1x,
                    /img/home/mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="home-img" src="/img/home/mob.png" alt="phones" loading="lazy" />
            </picture>
</div>
<ul class="home-list">
    <li class="home-item  home-list-one">
        <img class="icon" src="/img/home/ai.png" alt="ai" loading="lazy">
        <p><span class="span">AI-Native програма.</span> Вчимо застосовувати ШІ на практиці</p>
    </li>
    <li class="home-item home-list-two">
        <img class="icon" src="/img/home/icon.png" alt="icon" loading="lazy">
        <p><span class="span">70% навчання практика</span> на реальних проєктах</p>
    </li>
    <li class="home-item">
        <img class="icon" src="/img/home/icon.png" alt="icon" loading="lazy">
        <p>Портфоліо з <span class="span">проєктів,</span><br/> які оцінять роботодавці</p>
    </li>
    <li class="home-item">
        <img class="icon" src="/img/home/icon.png" alt="icon" loading="lazy">
        <p>Кар’єрна підтримка для успішного працевлаштування</p>
    </li>
</ul>
    </div>
</section>
<section class="who-section" id="who">
    <div class="container who-container">
        <div class="who-wrapper">
        <h2 class="who-title">Хто такий<br/>
        UX/UI дизайнер?</h2>
        <p class="who-text">UX/UI дизайнер створює зрозумілі та красиві цифрові продукти, які легко використовувати. Це професія, що поєднує креатив
        і логіку, щоб робити застосунки та сайти зручними для користувачів.</p>
    </div>
              <picture>
                <source srcset="
                   /img/who/desk.png 1x,
                   /img/who/desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/who/mob.png 1x,
                    /img/who/mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="who-img" src="/img/who/mob.png" alt="UX/UI" loading="lazy" />
            </picture>
    </div>
</section>
<section class="why-section" id="why">
    <div class="container why-container">
        <h2>Чому варто вибрати<br/>
        професію UX/UI дизайнера</h2>
        <ul class="why-list">
            <li class="why-item">
                <img src="/img/home/icon.png" alt="icon" loading="lazy">
                <div class="why-item-wrapper">
                    <p class="why-item-title">Можна почати без досвіду</p>
                    <p>UI/UX дизайн — це професія, з якої можна почати без досвіду в IT: достатньо зацікавленості, уважності та бажання
                    навчатися.</p>
                </div>
            </li>
            <li class="why-item">
                <img src="/img/home/icon.png" alt="icon" loading="lazy">
                <div class="why-item-wrapper">
                    <p class="why-item-title">Високий попит на ринку</p>
                    <p>Попит на UI/UX дизайнерів стабільно високий, а зарплати стартують від $800–$1000 і зростають разом із досвідом.</p>
                </div>
            </li>
            <li class="why-item">
                <img src="/img/home/icon.png" alt="icon" loading="lazy">
                <div class="why-item-wrapper">
                    <p class="why-item-title">Гнучкість професії</p>
                    <p>UI/UX дизайн дає гнучкість: ви можете працювати віддалено, обирати проєкти та планувати свій час.</p>
                </div>
            </li>
        </ul>
    </div>
</section>