<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <div class="home-text-wrap">
            <div class="home-label">
                <p>Професія в IT з нуля за 7 місяців</p>
            </div>
        <h1 class="home-title">Курс UX/UI<br/>
        дизайнера</h1>
        <p class="home-text">Ви навчитесь проєктувати зручні інтерфейси та їх дизайн<br class="desk"/> та отримаєте повну підготовку до роботи  UX/UI-дизайнером.</p>
        <a class="home-link" href="#">
            <p>Записатися</p>
        </a>
    </div>
          <picture>
                <source srcset="
                   /img/home/desk.png 1x,
                   /img/home/desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/home/mob.png 1x,
                    /img/home/mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="home-img" src="/img/home/mob.png" alt="phones" loading="lazy" />
            </picture>
</div>
<ul class="home-list">
    <li class="home-item  home-list-one">
        <img class="icon" src="/img/home/ai.png" alt="ai" loading="lazy">
        <p><span class="span">AI-Native програма.</span> Вчимо застосовувати ШІ на практиці</p>
    </li>
    <li class="home-item home-list-two">
        <img class="icon" src="/img/home/icon.png" alt="icon" loading="lazy">
        <p><span class="span">70% навчання практика</span> на реальних проєктах</p>
    </li>
    <li class="home-item">
        <img class="icon" src="/img/home/icon.png" alt="icon" loading="lazy">
        <p>Портфоліо з <span class="span">проєктів,</span><br/> які оцінять роботодавці</p>
    </li>
    <li class="home-item">
        <img class="icon" src="/img/home/icon.png" alt="icon" loading="lazy">
        <p>Кар’єрна підтримка для успішного працевлаштування</p>
    </li>
</ul>
    </div>
</section>
<section class="who-section" id="who">
    <div class="container who-container">
        <div class="who-wrapper">
        <h2 class="who-title">Хто такий<br/>
        UX/UI дизайнер?</h2>
        <p class="who-text">UX/UI дизайнер створює зрозумілі та красиві цифрові продукти, які легко використовувати. Це професія, що поєднує креатив
        і логіку, щоб робити застосунки та сайти зручними для користувачів.</p>
    </div>
              <picture>
                <source srcset="
                   /img/who/desk.png 1x,
                   /img/who/desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/who/mob.png 1x,
                    /img/who/mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="who-img" src="/img/who/mob.png" alt="UX/UI" loading="lazy" />
            </picture>
    </div>
</section>
<section class="why-section" id="why">
    <div class="container why-container">
        <h2>Чому варто вибрати<br/>
        професію UX/UI дизайнера</h2>
        <ul class="why-list">
            <li class="why-item">
                <img src="/img/home/icon.png" alt="icon" loading="lazy">
                <div class="why-item-wrapper">
                    <p class="why-item-title">Можна почати без досвіду</p>
                    <p>UI/UX дизайн — це професія, з якої можна почати без досвіду в IT: достатньо зацікавленості, уважності та бажання
                    навчатися.</p>
                </div>
            </li>
            <li class="why-item">
                <img src="/img/home/icon.png" alt="icon" loading="lazy">
                <div class="why-item-wrapper">
                    <p class="why-item-title">Високий попит на ринку</p>
                    <p>Попит на UI/UX дизайнерів стабільно високий, а зарплати стартують від $800–$1000 і зростають разом із досвідом.</p>
                </div>
            </li>
            <li class="why-item">
                <img src="/img/home/icon.png" alt="icon" loading="lazy">
                <div class="why-item-wrapper">
                    <p class="why-item-title">Гнучкість професії</p>
                    <p>UI/UX дизайн дає гнучкість: ви можете працювати віддалено, обирати проєкти та планувати свій час.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="whom-section" id="whom">
    <div class="container whom-container">
        <h2>Кому підходить курс:</h2>
        <ul class="whom-list">
            <li class="whom-item">
          <picture>
                <source srcset="
                   /img/whom/one-desk.png 1x,
                   /img/whom/one-desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/whom/one-mob.png 1x,
                    /img/whom/one-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="whom-img" src="/img/whom/one-mob.png" alt="people" loading="lazy" />
            </picture>   
            <div class="whom-item-wrapper">
    <p class="whom-item-title">Новачкам і тим, хто хоче змінити професію</p>             
    <p>Ви дізнаєтеся, як створювати зручні та естетичні інтерфейси, розробляти користувацькі сценарії, працювати з прототипами
    та дизайн-системами. Програма побудована так, щоб навіть без попереднього досвіду ви змогли зрозуміти ключові принципи
    дизайну та почати створювати власні продукти.</p>
</div>
            </li>
            <li class="whom-item">
          <picture>
                <source srcset="
                   /img/whom/two-desk.png 1x,
                   /img/whom/two-desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/whom/two-mob.png 1x,
                    /img/whom/two-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="whom-img" src="/img/whom/two-mob.png" alt="people" loading="lazy" />
            </picture>   
            <div class="whom-item-wrapper">
    <p class="whom-item-title">Тим, хто хоче підвищити кваліфікацію</p>             
    <p>Ви навчитеся створювати зрозумілі інтерфейси, покращувати користувацький досвід, оптимізувати процес дизайну та
    працювати над складними проєктами. Це чудова можливість прокачати професійні навички та створювати більш якісні та
    результативні продукти.</p>
            </div>
            </li>            
        </ul>
    </div>
</section>
<section class="income-section" id="income">
    <div class="container income-container">
        <h2>Заробіток буде зростати<br class="desk"/> разом<br class="mob"/>
        з досвідом</h2>
        <div class="income-wrapper">
            <div class="income">
                <img class="income-img" src="/img/income/icon.png" alt="icon" loading="lazy">
                <p>+14%</p>
            </div>
            <p class="income-text">За даними DOU, зарплати у сфері зростають щороку</p>
        </div>
            <ul class="income-list">
                <li class="income-item">
                        <p class="income-title-item">Junior</p>
                        <p>Перші комерційні проєкти,<br class="mob"/>
                        портфоліо, робота в команді.</p>
                    <p class="income-price"><span class="from">від </span> $700+</p>
                </li>
                <li class="income-item">
                        <p class="income-title-item">Middle</p>
                        <p>1–2 роки досвіду</p>
                        <p>Самостійна робота над проєктами</p>
                    <p class="income-price income-price-two"><span class="from">від </span>$1800+</p>
                </li>
                <li class="income-item income-item-last">
                        <p class="income-title-item">Senior</p>
                        <p>3-4 роки досвіду</p>
                        <p>Складні кейси, керування задачами</p>
                    <p class="income-price income-price-three"><span class="from">від </span>$3500+</p>
                </li>
            </ul>
    </div>
</section>
<section class="ai-section">
    <div class="container ai-container">
        <div class="ai-wrapper">
            <h2 class="ai-title">AI, як робочий інструмент сучасного дизайнера</h2>
            <ul class="ai-list">
                <li class="ai-item ai-item-one">
                    <p class="ai-item-title-one">Наша програма -<br/>
                    AI-native</p>
                    <div class="ai-item-wrapper-one">
                        <p>У той час як інші лише додають модуль про ШІ, ми будуємо навчання так, що ШІ - це фундаментальний елемент усіх
                        напрямків.</p>
                        <p>Ми не просто навчаємо технологіям - ми адаптуємо студентів до реальності,<br class="desk" />
                        в якій ШІ уже є стандартом професії.</p>
                    </div>
                </li>
                <li class="ai-item ai-item-two">
                    <p class="ai-item-title-two">Наші студенти щодня працюють з AI-інструментами, інтегрують ШІ у всі етапи роботи.</p>
<p class="ai-item-two-text">Ми навчаємо мислити їх як фахівці, що вміють автоматизувати, оптимізувати й прискорювати роботу за допомогою
сучасних технологій.</p>
                </li>
            </ul>
        </div>
    </div>
</section>