body{
  font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    color: #666;
}
h2{
  font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.05556;
    color: #1d1d1d;
}
@media only screen and (min-width: 1440px) {
  body{
font-size: 18px;
line-height: 1.38889;
  }
  h2{
      font-size: 50px;
      line-height: 1.2;
      text-align: center;
  }
}