/* Styles for Mobile devices */
.container {
  max-width: 390px;
  margin: 0 auto;
  padding: 36px 16px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1920px;
    padding: 60px 130px;
  }

}