.header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #eee;
    height: 72px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.header-logo img {
  height: 40px;
}

/* NAV */
.nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navigation-list {
  display: flex;
  gap: 28px;
}

.links {
  font-size: 14px;
  color: #111;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.links:hover {
  color: #5b5ce2;
}

.links.active {
  background: #5b5ce2;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
}

/* RIGHT SIDE */
.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lang {
  font-size: 14px;
  color: #555;
}

.lang span {
  margin-left: 6px;
}

/* PHONE BUTTON */
.phone-btn {
  background: #5b5ce2;
  color: #fff;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 13px;
  text-decoration: none;
  font-weight: 500;
}

/* BURGER */
.menu-button {
  display: none;
  background: none;
  border: none;
}

/* MOBILE */
@media (max-width: 768px) {

  .nav,
  .header-actions {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

/* MOBILE MENU */
.modal {
  position: fixed;
  inset: 0;
  background: #fff;
  display: none;
  padding: 40px 20px;
}

.modal.active {
  display: block;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-list-item {
  font-size: 18px;
  text-decoration: none;
  color: #111;
}