/* ===== HEADER (mobile) ===== */
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70px;
  background: #fff;
  z-index: 999;
  transition: 0.3s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 16px;
}



/* ===== BURGER ===== */
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
margin-right: 20px;
margin-bottom: 20px;
}

/* ===== NAV (hidden on mobile) ===== */
.nav,
.header-actions {
  display: none;
}

/* ===== MOBILE MENU ===== */
.modal {
  display: none;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  background: #0d1015;
  padding: 40px 20px;
  z-index: 1000;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
}

.menu-list-item {
  font-size: 20px;
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}

.menu-list-item:hover {
  color: #6c63ff;
}


/* ===== DESKTOP ===== */
@media only screen and (min-width: 1440px) {

  .header {
  height: 94px;
  }

  .header-container {
    padding: 0 160px;
  }

  .menu-button {
    display: none;
  }

  .nav {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .navigation-list {
    display: flex;
    gap: 32px;
  }

  .links {
font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1d1d1f;
    transition: 0.3s;
  }



  .links.active {
    background: #6c63ff;
    padding: 6px 14px;
    border-radius: 8px;
  }

  .header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .lang {
font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #1d1d1f;
  }

  .phone-btn {
    background: #6c63ff;
    color: #fff;
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 14px;
  }
}