.home-container{
    padding-left: 8px;
padding-right: 8px;
display: flex;
flex-direction: column;
gap: 48px;
}
.home-wrapper{
background-image: url("/img/home/back.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
border-radius: 24px;
padding-bottom: 24px;
}
.home-text-wrap{
    padding: 64px 24px 24px;
}
.home-label{
    border-radius: 100px;
        padding: 8px 16px;
        width: 257px;
        height: 36px;
background: #fff;
    font-size: 14px;
    line-height: 1.4;
    color: #1d1d1d;
}
.home-title{
    margin-top: 8px;
margin-bottom: 16px;
font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    color: #1d1d1d;
}
.home-text{
    margin-top: 24px;
    color: #1d1d1d;
}
.home-link{
    margin-top: 24px;
    border-radius: 12px;
        padding: 16px 24px;
        width: 326px;
        height: 50px;
background: #4850ec;
display: flex;
justify-content: center;
align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22222;
    color: #fff;
}
.home-list{
    width: 358px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 8px;
}
.home-item{
    border-radius: 16px;
        padding: 16px;
        width: 358px;
        height: 76px;
        min-width: 316px;
        background: #f7f7f9;
display: flex;
align-items: center;
gap: 16px;
    font-weight: 500;
    color: #1d1d1d;
}
.span{
font-weight: 600;
}
.icon{
    width: 29px;
    height: 29px;
}
.home-list-one{
background: #e4dfff;
}
.home-list-two{
    background: #bef541;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
  .home-container{
    padding-left: 60px;
    padding-right: 60px;
  }
  .home-wrapper{
    display: flex;
    align-items: center;
    gap: 43px;
    padding: 72px 120px;
    justify-content: end;
  }
  .home-text-wrap{
    width: 642px;
  }
  .home-title{
    margin-top: 24px;
    font-size: 50px;
  }
.home-text{
    width: 602px;
}
.desk{
    display: block;
}
.home-link{
    height: 60px;
}
.home-list{
    flex-direction: row;
    justify-content: center;
}
.home-item{
    padding: 24px;
        width: 319px;
        height: 145px;
        flex-direction: column;
        align-items: start;
}
.icon{
    width: 34px;
    height: 34px;
}
}
/* Хто такий UX/UI дизайнер? */
.who-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.who-title{
    font-size: 28px;
    line-height: 1.21429;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
 .who-container{
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    align-items: start;
 }
 .who-wrapper{
    width: 490px;
 }
 .who-title{
    font-size: 38px;
    line-height: 1.21053;
    margin-bottom: 24px;
 }
}
/* Чому варто вибрати професію UX/UI дизайнера */
 .why-container {
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 36px;
 }
.why-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.why-item{
    border-radius: 24px;
        padding: 24px;
        background: #f7f7f9;
        width: 358px;
        display: flex;
        align-items: start;
        gap: 24px;
}
.why-item-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.why-item-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        color: #1d1d1d;
}
@media only screen and (min-width: 1440px) {
 .why-container{
gap: 48px;
 }
 .why-list{
    flex-direction: row;
    justify-content: center;
 }
 .why-item{
    border-radius: 36px;
        padding: 36px;
flex-direction: column;
width: 422px;
height: 275px;
 }
 .why-item-title{
    font-size: 24px;
 }
}
/* Кому підходить курс: */
.whom-container{
    display: flex;
      flex-direction: column;
      align-items: center;
    gap: 48px;
}
.whom-list{
    display: flex;
        flex-direction: column;
        align-items: center;
gap: 16px;
}
.whom-item{
    border-radius: 24px;
}
.whom-item-wrapper{
    padding: 24px;
    background: #f7f7f9;
        border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            display: flex;
flex-direction: column;
gap: 16px;
font-weight: 500;
}
.whom-img{
        border-top-left-radius: 24px;
            border-top-right-radius: 24px;
}
.whom-item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
}
@media only screen and (min-width: 1440px) {
    .whom-list {
        flex-direction: row;
justify-content: center;
    }
    .whom-item{
border-radius: 36px;
    width: 642px;
    }
    .whom-img{
        border-top-left-radius: 36px;
            border-top-right-radius: 36px;
    }
.whom-item-title{
font-size: 24px;
}
.whom-item-wrapper{
        border-bottom-left-radius: 36px;
            border-bottom-right-radius: 36px;
    padding: 36px;
    font-weight: 600;
}
}