.home-container{
    padding-left: 8px;
padding-right: 8px;
display: flex;
flex-direction: column;
gap: 48px;
}
.home-wrapper{
background-image: url("/img/home/back.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
border-radius: 24px;
padding-bottom: 24px;
}
.home-text-wrap{
    padding: 64px 24px 24px;
}
.home-label{
    border-radius: 100px;
        padding: 8px 16px;
        width: 257px;
        height: 36px;
background: #fff;
    font-size: 14px;
    line-height: 1.4;
    color: #1d1d1d;
}
.home-title{
    margin-top: 8px;
margin-bottom: 16px;
font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    color: #1d1d1d;
}
.home-text{
    margin-top: 24px;
    color: #1d1d1d;
}
.home-link{
    margin-top: 24px;
    border-radius: 12px;
        padding: 16px 24px;
        width: 326px;
        height: 50px;
background: #4850ec;
display: flex;
justify-content: center;
align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22222;
    color: #fff;
}
.home-list{
    width: 358px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 8px;
}
.home-item{
    border-radius: 16px;
        padding: 16px;
        width: 358px;
        height: 76px;
        min-width: 316px;
        background: #f7f7f9;
display: flex;
align-items: center;
gap: 16px;
    font-weight: 500;
    color: #1d1d1d;
}
.span{
font-weight: 600;
}
.home-list-img{
    width: 29px;
    height: 29px;
}
.home-list-one{
background: #e4dfff;
}
.home-list-two{
    background: #bef541;
}