.home-container{
    padding-left: 8px;
padding-right: 8px;
display: flex;
flex-direction: column;
gap: 48px;
}
.home-wrapper{
background-image: url("/img/home/back.png");
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
border-radius: 24px;
padding-bottom: 24px;
}
.home-text-wrap{
    padding: 64px 24px 24px;
}
.home-label{
    border-radius: 100px;
        padding: 8px 16px;
        width: 257px;
        height: 36px;
background: #fff;
    font-size: 14px;
    line-height: 1.4;
    color: #1d1d1d;
}
.home-title{
    margin-top: 8px;
margin-bottom: 16px;
font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    color: #1d1d1d;
}
.home-text{
    margin-top: 24px;
    color: #1d1d1d;
}
.home-link{
    margin-top: 24px;
    border-radius: 12px;
        padding: 16px 24px;
        width: 326px;
        height: 50px;
background: #4850ec;
display: flex;
justify-content: center;
align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22222;
    color: #fff;
}
.home-list{
    width: 358px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 8px;
}
.home-item{
    border-radius: 16px;
        padding: 16px;
        width: 358px;
        height: 76px;
        min-width: 316px;
        background: #f7f7f9;
display: flex;
align-items: center;
gap: 16px;
    font-weight: 500;
    color: #1d1d1d;
}
.span{
font-weight: 600;
}
.icon{
    width: 29px;
    height: 29px;
}
.home-list-one{
background: #e4dfff;
}
.home-list-two{
    background: #bef541;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
  .home-container{
    padding-left: 60px;
    padding-right: 60px;
  }
  .home-wrapper{
    display: flex;
    align-items: center;
    gap: 43px;
    padding: 72px 120px;
    justify-content: end;
  }
  .home-text-wrap{
    width: 642px;
  }
  .home-title{
    margin-top: 24px;
    font-size: 50px;
  }
.home-text{
    width: 602px;
}
.desk{
    display: block;
}
.home-link{
    height: 60px;
}
.home-list{
    flex-direction: row;
    justify-content: center;
}
.home-item{
    padding: 24px;
        width: 319px;
        height: 145px;
        flex-direction: column;
        align-items: start;
}
.icon{
    width: 34px;
    height: 34px;
}
}
/* Хто такий UX/UI дизайнер? */
.who-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.who-title{
    font-size: 28px;
    line-height: 1.21429;
    margin-bottom: 16px;
}
@media only screen and (min-width: 1440px) {
 .who-container{
    flex-direction: row;
    justify-content: center;
    gap: 36px;
    align-items: start;
 }
 .who-wrapper{
    width: 490px;
 }
 .who-title{
    font-size: 38px;
    line-height: 1.21053;
    margin-bottom: 24px;
 }
}
/* Чому варто вибрати професію UX/UI дизайнера */
 .why-container {
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 36px;
 }
.why-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.why-item{
    border-radius: 24px;
        padding: 24px;
        background: #f7f7f9;
        width: 358px;
        display: flex;
        align-items: start;
        gap: 24px;
}
.why-item-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.why-item-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        color: #1d1d1d;
}
@media only screen and (min-width: 1440px) {
 .why-container{
gap: 48px;
 }
 .why-list{
    flex-direction: row;
    justify-content: center;
 }
 .why-item{
    border-radius: 36px;
        padding: 36px;
flex-direction: column;
width: 422px;
height: 275px;
 }
 .why-item-title{
    font-size: 24px;
 }
}
/* Кому підходить курс: */
.whom-container{
    display: flex;
      flex-direction: column;
      align-items: center;
    gap: 48px;
}
.whom-list{
    display: flex;
        flex-direction: column;
        align-items: center;
gap: 16px;
}
.whom-item{
    border-radius: 24px;
}
.whom-item-wrapper{
    padding: 24px;
    background: #f7f7f9;
        border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
            display: flex;
flex-direction: column;
gap: 16px;
font-weight: 500;
}
.whom-img{
        border-top-left-radius: 24px;
            border-top-right-radius: 24px;
}
.whom-item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
}
@media only screen and (min-width: 1440px) {
    .whom-list {
        flex-direction: row;
justify-content: center;
    }
    .whom-item{
border-radius: 36px;
    width: 642px;
    }
    .whom-img{
        border-top-left-radius: 36px;
            border-top-right-radius: 36px;
    }
.whom-item-title{
font-size: 24px;
}
.whom-item-wrapper{
        border-bottom-left-radius: 36px;
            border-bottom-right-radius: 36px;
    padding: 36px;
    font-weight: 600;
}
}
/* Заробіток буде зростати разом з досвідом */
.income-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}
.income-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.income{
    border-radius: 16px;
        padding: 8px 12px;
        width: 114px;
        height: 48px;
        background: #eaf3fc;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
            font-size: 18px;
            line-height: 1.38889;
            color: #4850ec;
}
.income-text{
    width: 228px;
    font-size: 14px;
        line-height: 1.42857;
        color: #1d1d1d;
}
.income-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.income-item{
    border-radius: 24px;
        padding: 24px;
        width: 358px;
        height: auto;
        background: #f7f7f9;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
}
.income-title-item{
    font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        color: #1d1d1d;
}
.income-price{
        font-weight: 600;
        font-size: 28px;
        line-height: 1.21429;
        color: #1d1d1d;
        position: absolute;
        top: 24px;
        right: 24px;
}
.income-item-last{
    background: #4850ec;
    color: #fff;
}
.income-item-last .income-title-item,
.income-item-last .income-price{
color: #fff;
}
.from{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .mob{
        display: none;
    }
    .income-container{
        gap: 0;
    }
.income-wrapper{
    margin-top: 16px;
}
.income{
    padding: 8px 12px;
        width: 106px;
}
.income-img{
    width: 24px;
    height: 24px;
}
.income-text{
    width: 473px;
}
.income-list{
    flex-direction: row;
    align-items: end;
    margin-top: 48px;

}
.income-item{
    border-radius: 36px;
        padding: 36px;
        width: 422px;
        height: auto;
        gap: 12px;
}
.income-title-item{
    font-size: 38px;
        line-height: 1.21053;
}
.income-price{
    margin-top: 36px;
  position: static;
font-size: 50px;
}
.from{
    display: inline;
    font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.38889;
        color: #666;
        padding-right: 10px;
}
.income-price-two{
    margin-top: 114px;
}
.income-price-three{
    margin-top: 178px;
}
.income-price-three .from{
    color: #eaf3fc;
}
}
/* AI,
як робочий інструмент сучасного дизайнера */
.ai-section{
    background: #111217;
}
.ai-title{
    color: #fff;
}
.ai-list{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.ai-item{
    border-radius: 24px;
        padding: 24px;
        width: 358px;
        height: 465px;
}
.ai-item-one{
    background-image: url("/img/ai/mob-one.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.ai-item-title-one{
        font-size: 24px;
        line-height: 1.20833;
        color: #fff;
}
.ai-item-wrapper-one{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Mulish", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.375;
        color: #f7f7f9;
}
.ai-item-two{
    background-image: url("/img/ai/mob-two.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    font-weight: 500;
    color: #1d1d1d;
}
.ai-item-title-two{
    font-family: "Mulish", sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #1d1d1d;
        margin-bottom: 16px;
}
.ai-container{
    padding-top: 72px;
    padding-bottom: 72px;
}
@media only screen and (min-width: 1440px) {
 .ai-section{
    background-color: #fff;
 }
 .ai-container{
    padding-left: 60px;
    padding-right: 60px;
 }
 .ai-wrapper{
    background: #111217;
    border-radius: 72px;
    border-radius: 72px;
        padding: 120px 250px;
 }
 .ai-list{
    margin-top: 72px;
    flex-direction: row;
    justify-content: center;
    align-items: start;
 }
 .ai-item{
    border-radius: 36px;
        padding: 36px;
        width: 642px;
        height: 416px;
 }
 .ai-item-one{
    background-image: url("/img/ai/desk-one.png");
 }
 .ai-item-title-one{
    font-size: 32px;
 }
 .ai-item-wrapper-one{
    width: 380px;
    font-size: 18px;
    margin-top: 16px;
    line-height: 1.38889;
 }
 .ai-item-two{
background-image: url("/img/ai/desk-two.png");
height: 440px;
 }
 .ai-item-title-two{
    font-size: 24px;
    width: 358px;
 }
 .ai-item-two-text{
    width: 358px;
 }
}
/* Справжній досвід та багато практики */
.experience-title{
    text-align: center;
}
.experience-text{
margin-top: 16px;
line-height: 1.22222;
    text-align: center;
    color: #3f4b5e;
}
.experience-wrapper{
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.experience-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.exp-title{
    font-size: 28px;
        line-height: 1.21429;
        color: #1d1d1d;
        margin-bottom: 16px;
}
.exp-list{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 30px;
}
.experience-container{
    padding-bottom: 72px;
}
@media only screen and (min-width: 1440px) {
 .experience-title{
    margin-bottom: 24px;
 }
 .experience-wrapper{
    margin-top: 120px;
    gap: 120px;
    align-items: center;
 }
 .experience-content{
    flex-direction: row-reverse;
    gap: 36px;
 }
 .exp-wrap{
    width: 484px;
 }
 .exp-title{
    font-size: 38px;
    line-height: 1.21053;
 }
 .experience-content-two{
    flex-direction: row;
 }
 .experience-container {
     padding-bottom: 120px;
 }
}
/* Отримайте безкоштовну консультацію */
.contact-section{
    background-image: url("/img/contact/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border-radius: 24px;
}
.contact-container{
padding: 30px;
}
.contact-title{
    font-size: 28px;
        line-height: 1.21429;
        color: #fff;
        margin-bottom: 16px;
}
.contact-text{
    color: #b2bac8;
    margin-bottom: 132px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input {
    padding: 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn {
    position: relative;
    padding: 16px;
    border-radius: 12px;
    border: none;
background: #4850ec;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn-loader {
    width: 20px;
    height: 20px;

    animation: spin 1s linear infinite;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.form-message {
    font-size: 14px;
    text-align: center;
}

.form-message.success {
    color: #4ade80;
}

.form-message.error {
    color: #f87171;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
.contact-text-two{
    margin-top: 16px;
    font-weight: 400;
        font-size: 14px;
        line-height: 1.32857;
        text-align: center;
        color: #b2bac8;
}
@media only screen and (min-width: 1440px) {
 .contact-section{
   background-image: none;
 }
 .contact-container{
        padding: 60px 130px;
 }
 .contact-wrapper{
    background-image: url("/img/contact/desk.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        border-radius: 36px;
            padding: 48px 36px;
    display: flex;
    flex-direction: row;
    gap: 36px;
 }
 .contact-title-wrapper{
    width: 664px;
 }
 .form-wrapper{
    width: 420px;
 }
 .contact-title{
    text-align: left;
 }
 .contact-text{
    margin-bottom: 0;
 }
}